{% extends 'hatok/base.html' %}
{% load static %}
{% block title %} {{ tt.ten|capfirst }} {% endblock %}
{% block content %}
<div class="container-fluid w-limit">
   <div class="row mt-3">
		<div class="col-12 col-lg-10 offset-lg-1">
			<div class="row"><!--メインコンテンツここから--><!-- #BeginLibraryItem "/Library/英_品目別リスト.lbi" -->
	<div class="col-4 col-md-3 d-none d-sm-block"><!--大きいときのサイドメニュー-->
		<div class="menu-orange">
			<div class="menu-orange-header">Danh mục tin tức</div>
			<div class="menu-orange-text">
                {% for d in dmtt %}
				<a href="{% url 'main:danh-muc-tin-tuc' d.slug %}" alt="{{ d.ten }}"><li>{{ d.ten }}</li></a>
                {% endfor %}
                </div>
		</div>
		<a href="{{ cauhinh.catalog }}" target="_blank"><img src="/static/img/etc/catalog_e.jpg" width="235" alt="tải catalog sản phẩm" class="img-fluid"/><p>Tải Catalog(PDF/25.3MB)</p></a>

    <p class="smallest">*Right crick on the hyper-links above and chose "save target as.." to download and save the catalog.<br/>*Adobe Reader DC(freeware) is needed to open PDF files. </p>
            </div>

<div class="col-12 d-block d-sm-none left-menu-mobile mb-2">
    <div class="dropdown">
  		<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
  Danh mục</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for d in dmtt %}
			<a class="dropdown-item" href="{% url 'main:danh-muc-tin-tuc' d.slug %}" alt="{{ d.ten }}">{{ d.ten }}</a>
            {% endfor %}
        </div>
          </div>
        </div>
                <!-- #EndLibraryItem -->
        <div class="col-12 col-md-9 col-sm-8 mt-3">
            <h2 class="text-warning" style="font-size: 20px">{{ tt.ten }}</h2>
            <div class="line-orange"></div>
            <span id="ngay" style=" font-size: 13px;font-style: italic;">Ngày tạo {{ tt.ngaytao|date:'d/m/yy' }}   <b style="float: right">Lượt xem : {{ tt.luotxem }}</b> </span>
            <div class="content-d" style="padding-top: 15px;">
                <div class="toc" data-toc="h1, h2, h3 ,h4">
                {{ tt.mota|safe }}
            </div>
        </div>

</div></div></div>
</div></div>
    <!-- #BeginLibraryItem "/Library/英_フッタ.lbi" -->
{% endblock %}